<div class="levformarea  container-fluid">

<form #ipDetailsForm="ngForm" >

 
<fieldset style="border: solid 1px">
  <legend style="width:inherit; padding:0 10px; border-bottom:none;">פרטי צד מעורב</legend>
 <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">


    
   <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <label for="iptype" class="col-form-label">סוג זיהוי</label>

        <select class="form-control" id="iptype" 
                        [(ngModel)]="ip.IPType" name="iptype">
          <option *ngFor="let idtype of idTypes" [value]="idtype">{{idtype}}</option>  
        </select>

      
    </div>
    
    <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <label for="ipid" class="col-form-label">מספר זיהוי</label>
  		      <input type="text" class="form-control" id="ipid"
  		              [(ngModel)]="ip.IPId" name="ipid">
      
     </div>  
    

    <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <label for="country" class="col-form-label">ארץ דרכון</label>

  		      <input type="text" class="form-control" id="country"
  		        [(ngModel)]="ip.Country" name="country">
 
      
    
     </div>
     
</div>
</fieldset>

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
         <label for="lname" class="col-form-label">שם משפחה</label>
        	
      		<input type="text" class="form-control" id="lname"
        		[(ngModel)]="ip.LastName" name="lname">
	      
     
    </div>

     <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <label for="fname" class="col-form-label">שם פרטי</label>
  	
  		<input type="text" class="form-control" id="fname"
  		[(ngModel)]="ip.FirstName" name="fname">
	  
    
</div>

   <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
  <label for="dob" class="col-form-label">תאריך לידה</label>
  	
  		<input type="text" class="form-control" id="dob"
  		[(ngModel)]="ip.DOB" name="dob">
	

</div>
</div>
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
  <label for="maritalstatus" class="col-form-label">מצב  משפחתי</label>
  
        <select class="form-control" id="maritalstatus" 
                         [(ngModel)]="ip.MaritialStatus" name="maritalstatus">
            <option *ngFor="let mstatus of maritalStatus" [value]="mstatus">{{mstatus}}</option>  
        </select>

</div>

  <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
  <label for="gender" class="col-form-label">מין</label>
  	
  		  <select class="form-control" id="gender" 
                         [(ngModel)]="ip.gender" name="gender">
            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>  
        </select>


</div>

  <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <label for="numchild" class="col-form-label">מספר ילדים</label>
      	
  	   	<input type="text" class="form-control" id="numchild"
  		[(ngModel)]="ip.NumChildren" name="numchild">
	

</div>
</div>
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <label for="ipid" class="col-form-label">שם פרטי באנגלית</label>
  	
  		<input type="text" class="form-control" id="engLName"
  		[(ngModel)]="ip.EnglishLastName" name="engLName">
	 
 
</div>

 <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="engFName" class="col-form-label">שם פרטי באנגלית</label>
  	 
  	   	<input type="text" class="form-control" id="engFName"
  		    [(ngModel)]="ip.EnglishFirstName" name="engFName">
	  
  
</div>
</div>


<button  type="button" class="btn btn-success" (click)="nextScreen()">המשך</button>

</form>

</div>