<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" [class.active]="isActive('btn1')" (click)="setActive('btn1')" >פרטים אישיים</button>
  <button type="button" class="btn btn-secondary" [class.active]="isActive('btn2')" (click)="setActive('btn2')" >פרטים כלליים</button>
  <button type="button" class="btn btn-secondary" [class.active]="isActive('btn3')" (click)="setActive('btn3')" >פרטים שיווקים</button>
  <button type="button" class="btn btn-secondary" [class.active]="isActive('btn4')" (click)="setActive('btn4')" >הכר את הצד המעורב</button>
  <button type="button" class="btn btn-secondary" [class.active]="isActive('btn5')" (click)="setActive('btn5')" >גורם מנהל-מטפל</button>
</div>