.levformarea {
	border: 1px solid green ;
    height: calc(80vh);
}
.headerarea {
	height: calc(10vh);
}
.footerarea {
	border-style: inset;
	height: calc(24px);
}
.fullwidth {
	width: calc(100vw);
    background-color: lightblue;
}
